<section class="gh-page gh-success-numbers">
    <div class="gh-container">
        {{#get "pages" filter="tag:liefervolumen" order="published_at asc" limit="1"}}
        {{#foreach pages}}
        <h2>{{title}}</h2>
        {{/foreach}}
        {{/get}}
        <div class="gh-success-numbers-container">
            {{#get "posts" filter="tag:liefervolumen" order="published_at asc"}}
            {{#foreach posts}}
            <div class="gh-success-number">
                <div class="gh-dash-circle">
                    {{content}}
                </div>
                <h5 class="gh-description">{{title}}</h5>
            </div>
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>