
.gh-head {
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 1vmin 4vmin;
    font-size: 1.6rem;
    line-height: 1.3em;
    background: inherit;
}

#gh-head .gh-head-logo img {
    max-height: 60px;
}

.gh-head-actions a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}